{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h5>Register</h5>
        </div>
        <div class="card-body">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form | crispy }}

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}

                <div class="text-center mt-3">
                    <p>Already have an account? <a href="{{ login_url }}">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
